<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Your NGINX worked on user {{ansible_ssh_user}}! </title>

</head>

<body>
  <h1>You just successfully ran a container with a bind mount through Ansible at user {{ansible_ssh_user}} in {{inventory_hostname}}!</h1>
  <img src="https://media.tenor.com/images/a00314fbfd7cad10e508e6a69436bf74/tenor.gif" /> 
</body>
</html>

